body{
    background-color: lavender;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

/* nav bar */
nav{
    background-color: rgb(175, 238, 208);
    padding: 10px;
    height: 60px;
    display: flex;
    align-items: center;
}

.nav-header{
    font-size: 2.2rem;
    background: none;
    border: none;
    font-weight: bolder;
}

/* Content */
#content{
    padding: 20px;
}