body{
    background-color: lavender;
    display: flex;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

/* nav bar */
#nav-bar{
    background-color: rgb(175, 238, 208);
    padding: 10px;
    height: 100vh;
    width: 20vw;
    display: grid;
    grid-template-rows: 100px 1fr 80px;
    gap: 10px;
    border: 1px solid black;
}

.nav-header{
    font-size: 2.2rem;
    background: none;
    border: none;
    font-weight: bolder;
    height: 100px;
}

#group-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
}

.group{
    font-size: 1.5rem;
    font-weight: bold;
    border: 1px solid black;
    justify-content: left;
}

#open-modal{
    height: 50px;
    font-size: 1.3rem;
}

/* dialog box */
.input-modal{
    height: 300px;
    width: 400px;
    padding: 20px;
    display: grid;
    grid-template-rows: 40px;
    gap: 10px;
}

.form-header{
    font-weight: bold;
    font-size: 1.3rem;
}

.form-input{
    display: grid;
    gap: 10px;
    grid-template-columns: 120px 1fr;
}

.form-input>label{
    grid-column: 1;
}

.form-input>input{
    grid-column: 2;
    height: 20px;
}

.form-input>select{
    height: 30px;
}

/* Content */
#content-container{
    padding: 20px;
    width: 80vw;
    display: flex;
}

#content{
    display: grid;
    grid-template-rows: 50px;
    grid-auto-rows: 200px; /*maybe use a minmax */
    padding: 20px;
    gap: 10px;
    background-color: white;
    height: auto;
    width: 100%;
    box-shadow: 2px 2px 2px grey;
}

.task-card{
    border: 1px solid red;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task-info:hover{
    background-color: rgb(214, 214, 214)
}

.task-info{
    border: 1px solid black;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    padding: 10px;
}

.task-description{
    padding: 10px;
}