body{
    background-color: lavender;
    display: flex;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

/* --------------- nav bar ---------------- */
#nav-bar{
    background-color: rgb(175, 238, 208);
    height: 100vh;
    width: 20vw;
    display: grid;
    grid-template-rows: 100px 1fr 50px 100px;
    gap: 10px;
}

.nav-header{
    font-size: 2.4rem;
    background: none;
    border: none;
    font-weight: bolder;
    height: 100px;
    text-align: left;
    padding: 0px;
    margin: 0 30px;
}

#group-list{
    /* background-color: rgb(156, 235, 197); */
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px;
    margin: 0 30px;
    /* border: 1px solid black; */
    max-height: 800px;
    overflow-y: scroll;
       /* for some browsers */
       -ms-overflow-style: none;
       scrollbar-width: none;
   }
   /* hide scrollbar */
   #group-list::-webkit-scrollbar{
       display: none;
   }

.group{
    font-size: 1.5rem;
    font-weight: bold;
    /* border: 1px solid black; */
    justify-content: left;
}

.open-modal{
    height: 50px;
    font-size: 1.3rem;
    margin: 0 30px;
}

/* ----------------- dialog box ----------------*/
.input-modal{
    height: 300px;
    width: 400px;
    padding: 20px;
    display: grid;
    grid-template-rows: 40px;
    gap: 10px;
}

.form-header{
    font-weight: bold;
    font-size: 1.3rem;
}

.form-input{
    display: grid;
    gap: 10px;
    grid-template-columns: 120px 1fr;
}

.form-input>label{
    grid-column: 1;
}

.form-input>input{
    grid-column: 2;
    height: 20px;
}

.form-input>select{
    height: 30px;
}

input:invalid{
    border: 1px solid rgb(255, 0, 0);
    border-radius: 2px;
}

textarea{
    resize: none;
}

#submit_project,
#submit_task,
#submit-edit,
#edit_submit_project{
    justify-self: center;
    align-self: center;
    height: 30px;
    width: 120px;
    font-size: 1.1rem;
    font-weight: bold;
}

/* ---- Confirmation Modal ---- */
#remove-confirmation{
    border-radius: 5px;
}
#remove-modal{
    height: 200px;
    width: 300px;
    display: grid;
    grid-template-rows: 150px 50px;
    padding: 10px;
}
#remove-message{
    align-self: center;
    /* border: 1px solid black; */
    font-size: 1.2rem;
    padding: 10px;
}

#remove-buttons>button{
    height: 30px;
    width: 80px;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 5px;
}

#yes{
    background-color: rgb(255, 72, 72);
}

#remove-buttons,
#remove-message{
    justify-self: center;
}


/* ------------------ Content ----------------- */
#content-container{
    padding: 20px;
    width: 80vw;
    height: 90vh;
    display: flex;
}

#content{
    display: grid;
    grid-template-rows: 50px 20px;
    grid-auto-rows: 150px; 
    padding: 20px;
    gap: 20px;
    background-color: white;
    height: 100%;
    width: 100%;
    box-shadow: 2px 2px 2px grey;
    overflow-y: scroll;
    /* for some browsers */
    -ms-overflow-style: none;
    scrollbar-width: none;
}
/* hide scrollbar */
#content::-webkit-scrollbar{
    display: none;
}

.sort{
    justify-self: end;
}

#sort-button{
    height: 30px;
    width: 100px;
}

.group-header{
    font-size: 2.5rem;
    font-weight: bold;
}

.task-card{
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: 70px 1fr;
    height: auto;
}

.task-info:hover{
    background-color: rgb(214, 214, 214)
}

.task-info{
    height: 50px;
    display: grid;
    grid-template-columns: 175px 120px 150px 140px 1fr;
    /* display: flex;
    align-items: center;
    justify-content: space-evenly; */
    gap: 20px;
}
.task-info>span,
.task-info>div{
    align-self: center;
}

.task-info,
.task-description{
    border: 1px solid black;
    padding: 10px 20px;
    overflow-wrap: anywhere;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#task-description::-webkit-scrollbar{
    display: none;
}

.task-buttons{
    justify-self: end;
    display: grid;
    grid-template-columns: 100px 100px;
    gap: 20px;
}

#remove{
    background-color: rgb(255, 72, 72);
    border: 1px solid rgb(31, 31, 31);
}

.buttons{
    height: 30px;
    width: 110px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid grey;
}


/* established layout for project buttons, can improve on later */
.header-buttons{
    display: grid;
    gap: 5px;
}

.header-buttons>button{
    border: none;
    font-size: 1rem;
    font-weight: bold;
    justify-self: end;
    padding: 5px;
    background-color: rgb(202, 202, 202);
}

#delete{
    background-color: rgb(255, 72, 72);
}

.header-div{
    display: flex;
    justify-content: space-between;
}

